<md-card class="example-card">
  <md-card-header>
    <md-card-title>{{ products[currentItem].name }}</md-card-title>
  </md-card-header>
  <img md-card-image src="{{ products[currentItem].url}}">
  <md-card-content>
    <p>
    {{ products[currentItem].description }}
    </p>
  </md-card-content>
  <md-card-actions class="navigation">
    <button md-button (click)="prevItem()" [disabled]="stateButtonPrevious">Назад</button>
    <button md-button (click)="nextItem()" [disabled]="stateButtonNext">Вперед</button>
  </md-card-actions>
</md-card>
