<div class="jumbotron text-center">
  <h2>Пользователи системы</h2>

  <a routerLink="/users/create" class="btn btn-sm btn-info">Создать пользователя</a>
</div>

<div class="user-list row" *ngIf="users">

  <div class="col-sm-4" *ngFor="let user of users">

    <div class="user-card text-center" [routerLink]="['/users', user.id]">
      <img [src]="user.avatar" class="user-avatar img-rounded" width="300">

      <h2>{{ user.name }} <div><small>{{ user.last_name }}</small></div></h2>
    </div>

  </div>

</div>

