<form class="example-form">
  <md-input-container class="example-full-width">
    <input mdInput placeholder="Название фильма" name="filmName" [(ngModel)] = "filmName" (keyup.enter)="getFilms()">
  </md-input-container>
</form>

<md-grid-list cols="3" rowHeight="800px">

    <md-grid-tile *ngFor="let film of filmList" class="navigation">
        <md-card class="film-card">
            <img md-card-image *ngIf="film.Poster != 'N/A'" src="{{film.Poster}}">
            <md-card-content>
                <md-card-title>{{film.Title}}</md-card-title>
                <p>Год: {{film.Year}}</p>
                <p>{{film.Title}}</p>
            </md-card-content>
            <md-card-actions>
                <button md-button>Подробнее..</button>
            </md-card-actions>
        </md-card> 
    </md-grid-tile>

</md-grid-list>
