
.film-card {
  width: 300px;
  height: 750px;
  margin-bottom: 50px; 
  text-align: center;
}
/*
.example-form {
    margin-bottom: 50px;
}*/
.film-card-image{
   background-size: contain;
   height: 400px;
   width: auto;
}

.card-content{
  text-align: left;
}